extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let Guitarid = toShow._id
    - let type = toShow.type
    - let cost = toShow.cost
    - let material = toShow.material
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{Guitarid}
    - let actionid = "/resource/Guitars/" + Guitarid
    form(id='GuitarForm', action= actionid, method="PUT")
      div.form-group
        label.GuitarAttr(for='type') Guitar type
        input#type(type='text', name='type', value= type )
      div.form-group
        label.GuitarAttr(for='material') Guitar material
        input#material(type='text', name='material', value= material )
      div.form-group
        label.GuitarAttr(for='cost') Guitar cost
        input#cost(type='number', name='cost', value= cost )
        input(type="submit")
    script.
      document.forms['GuitarForm'].addEventListener('submit', (event) => {
        event.preventDefault();
      });
