body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.GuitarAttr {
  background-color: #ADD8E6; /* Light Blue */
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: #333; /* Text color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
  /* Add any additional styles as needed */
}

  
